.undoRedoContainer {
  
    display: flex;
    flex-direction: row;
   
    gap: 10px;
 
}

.undo, .redo {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease; 
    border-radius: 50%;
    font-size: 40px;
}

.undo:hover, .redo:hover {
   
    transform: scale(1.2); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); 
}
.undoRedoContainer .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  